@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

body {
    background-color: #131F24;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.card {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#cadastro {
    margin-top: 5px;
}
